body{
 font-family: 'Rancho', cursive;
 /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
 /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
 display:flex;
 justify-content: center;
 background-image:url('static/maxresdefault.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
 /* background-color:#9c3d3d; */
}

.card_container{
 width: 500px;
 height:832px;
 background-color:#1e1f26;
 box-shadow: 5px 5px 50px 5px #1e1f26;
}
.profile_img{
 position: relative;
 width:100%;
 height:500px;
 background-image:url('static/me.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 cursor: pointer;
 -webkit-mask-image:linear-gradient(to top,transperant 1%,#1e1f26 50%);
}
/* .profile_img::before{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width:100%;
 height:500px;
 background-color: rgba(255,255,255, 0.3);
 transform: skew(45deg);
 transition: 0.5s;
} */
.profile_img:hover::before{
 left:-180%;

}
.profile_img ul{
position: absolute;
margin: 0;
padding: 0;
list-style-type:none;
}

.profile_img ul li{
 width:40px ;
 height: 40px;
 background-color:#1e1f26 ;
 line-height: 40px;
 text-align: center;
 transform: rotateY(90deg);
 transition: 0.5s;
}

.profile_img:hover ul li {
 transform:rotateY(0deg);
}

.profile_img:hover ul li:nth-child(1){
 transition-delay: 0.2s;
}
.profile_img:hover ul li:nth-child(2){
 transition-delay: 0.3s;
}
.profile_img:hover ul li:nth-child(3){
 transition-delay: 0.4s;
}
.profile_img:hover ul li:nth-child(4){
 transition-delay: 0.5s;
}
.profile_img:hover ul li:nth-child(5){
 transition-delay: 0.6s;
}

.profile_img  ul li a{
color:#ef4141;

}
.profile_img ul li a :hover{
 color:#fff;
}

.text_content {
margin :0 20px;
color: #e7e7e7;

}
.text_content h1{
 /* text-align: center; */
 font-family:'ZCOOL QingKe HuangYou', cursive ;
 font-size: 35px;
 font-weight:400 ;
 
}
h2{
 font-size: 20px;
 font-weight: 400;

}

.text_discription{
 font-size:15px ;
 font-weight: 400;
 color:#9B9B9B ;
 line-height:1.3 ;
 text-align:justify;

}
.txt_btn{
width: 140px;
border:1px solid #ef4141 ;
border-radius: 5px;
text-align: center;
cursor: pointer;
}

h3{
 font-size:15px;
 font-weight:400px;
 color:#ef4141;
 letter-spacing: 1px;
}

